.hbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.vbox {
    -fx-background-color: #2f4f4f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.button-label {
	-fx-font-family: segoeui;
	-fx-font-size: 14px;
	-fx-fill: white;
}

.button {
    -fx-cursor: hand;
}

.button-nav {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: segoeuil;
}

.pane-back {
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.canvas {
	-fx-border-insets: 50px;
}
