.title {
	-fx-font-family: segoeuil;
	-fx-font-size: 100px;
	-fx-fill: white;
	-fx-font-weight: lighter;
}

.title2 {
	-fx-font-family: segoeuil;
	-fx-font-size: 24px;
	-fx-font-weight: lighter;
	-fx-fill: rgba(255, 255, 255, 0.7);
}

.button-label {
	-fx-font-family: segoeui;
	-fx-font-size: 14px;
	-fx-fill: white;
}

.button-sublabel {
	-fx-font-family:segoeui;
	-fx-font-size: 14px;
	-fx-fill: #b3b3b3;
}

.button-splash {
	-fx-background-radius: 50%;
	-fx-background-color: rgba(128, 128, 128, 0.7);
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

.button {
    -fx-cursor: hand;
}

.pane-title {
    -fx-font: 20px segoeuil;
    -fx-fill: #b3b3b3;
    -fx-text-fill: white;
}

.chooser-back {
	-fx-fill: rgba(0, 0, 0, 0.5);
}

.button-nav {
	-fx-background-color: rgba(0, 0, 0, 0);
	-fx-text-fill: white;
	-fx-font-size: 18px;
	-fx-font-family: segoeuil;
}

.pane-back {
	-fx-background-color: rgba(0, 0, 0, 0.5);
}

.canvas {
	-fx-border-insets: 50px;
}
