#vbox {
	-fx-alignment: top-center;
	-fx-spacing: 30px;
}

#intro {
	-fx-alignment: top-center;
	-fx-spacing: 30px;
	-fx-padding: 30px 0px 0px 0px;
}

.text {
	-fx-wrapping-width: 250;
}

.button {
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 3;
    -fx-background-color: rgb(41, 132, 252);
    -fx-border-insets: 10px;
    -fx-text-fill: white;
}

.button:hover {
	-fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 3;
    -fx-background-color: rgb(0, 172, 71);
}

#example-image {
	-fx-border-width: 4px;
}

#wrapper {
	-fx-padding: 10px;
	-fx-background-color: transparent;
	-fx-alignment: center;
	-fx-max-width: 150;
	-fx-max-height: 150;
	-fx-min-width: 150;
	-fx-min-height: 150;
}

@font-face {
	src: url("Roboto-Medium.ttf");
}

.text {
	-fx-font-family: "Roboto";
}


.scroll-pane {
    -fx-background-color: transparent;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em;
	-fx-border-radius: 2em;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {	
	-fx-padding:0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(71, 71, 71);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
}